<div class="form-group">
  <div class="form-fields">
    <input class="weapon-damage-hp" type="text" maxlength="2" size="2" value="{{itemCurrentHP}}">
    <span class="sep">/</span>
    <span>{{itemMaxHP}}</span>
  </div>
</div>
